
{% assign highlight_title = 'Designers' %}
{% include 'highlight-title' %}

<div class="container">

  <div class="row">

  {% for vendor in shop.vendors %}
  <div class="card designer-card col-sm-6 col-sm-4">
    {% assign w = false %}
    {% assign m = false %}
    <!-- {% assign types = '' %} -->
    {% for product in collections.all.products %}
      {% if product.vendor == vendor %}
        <!-- {% assign types = types | append: ' ' | append: product.type %} -->
        {% if product.tags contains 'Women' %}
          {% assign w = true %}
        {% endif %}
        {% if product.tags contains 'Men' %}
          {% assign m = true %}
        {% endif %}
      {% endif %}
    {% endfor %}

    <!-- {% assign types = types | split: ' ' | uniq | sort | join: ', ' %} -->

    <h2 class="title-uc product-vendor">{{ vendor }}</h2>
    {% assign vendor_handle = vendor | handle %}
    {{ collections[vendor_handle].description }}
    <!-- <p>{{ types }}</p> -->

    <p style="margin-top:.8em;">
      {% if w %}
        <a href="/collections/{{ vendor | handle }}/Women">Women</a>
      {% endif %}
      {% if w and m %}
        /
      {% endif %}
      {% if m %}
        <a href="/collections/{{ vendor | handle }}/Men">Men</a>
      {% endif %}
    </p>

  </div>
  {% endfor %}

  </div>

</div>
